## Ödev - 1. Hafta

In [10]:
#1
cocuklar = 5
baba = ((cocuklar + 6) * 3) - 3
print(baba)

30

In [24]:
#2
txt = "Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir."
x = txt.lower()
x = x.replace("veri bilim", "VERİ BİLİM")
print(x)

VERİ BİLİMi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (ai) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. VERİ BİLİMiyle uğraşan kişilere VERİ BİLİMci denir. bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.

In [25]:
#3
print("Kadir Elgün İstanbul 3.38")

Kadir Elgün İstanbul 3.38

In [46]:
#4
txt = "Veri bilimi günümüzün en heyecan verici alanlardan biridir."
kelime1 = txt[:11]
kelime2 = txt[40:]

for x in range(len(kelime1)):
    print(kelime1 + "\n")
    
for x in range(len(kelime2)):
    print(kelime2 + "\n")

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

Veri bilimi

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

alanlardan biridir.

In [61]:
#5
a = "Veri Bilimi"
a = a.lower()
print(a , "is lower: " + str(a.islower()))
a = a.upper()
print(a , "is upper: " + str(a.isupper()))

veri bilimi is lower: True
VERI BILIMI is upper: True

In [66]:
#6
listem = ["Kadir", "Elgün", 23, "Istanbul", 3.38]

In [67]:
#7
listem2 =  listem[2:]
print(listem2)

[23, 'Istanbul', 3.38]

In [68]:
#8
for x in range(len(listem2)):
    print(type(listem2[x]))

<class 'int'>
<class 'str'>
<class 'float'>

In [69]:
#9
eklenecek_liste = ["Ali", 90, "Mehmet"]
listem2.append(eklenecek_liste)
print(listem2)

[23, 'Istanbul', 3.38, ['Ali', 90, 'Mehmet']]

In [71]:
#10
listem3 = listem2[3][:2]
print(listem3)

['Ali', 90]

In [72]:
#11
listem2.extend(listem3)
print(listem2)

[23, 'Istanbul', 3.38, ['Ali', 90, 'Mehmet'], 'Ali', 90]

In [73]:
#12
del listem2[-1]
print(listem2)

[23, 'Istanbul', 3.38, ['Ali', 90, 'Mehmet'], 'Ali']

In [84]:
#13
yeni_liste = list()
for n in range(10,0,-1):
    yeni_liste.append(n)
print(yeni_liste)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [87]:
#14
print("7'nin indexi:" + str(yeni_liste.index(7)))  
print("2'nin indexi:" + str(yeni_liste.index(2)))

7'nin indexi:3
2'nin indexi:8

In [90]:
#15
tuple1 = tuple(listem2)
print(tuple1)

(23, 'Istanbul', 3.38, ['Ali', 90, 'Mehmet'], 'Ali')

In [206]:
#16
#tuples are not mutable!!
tuple1[-1] = "Veli"

TypeError: 'tuple' object does not support item assignment

In [95]:
#17
yeni_tuple = tuple()
for n in range(10,0,-1):
    yeni_tuple = yeni_tuple + (n,)
print(yeni_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [96]:
#18
print("7'nin indexi:" + str(yeni_tuple.index(7)))  
print("2'nin indexi:" + str(yeni_tuple.index(2)))

7'nin indexi:3
2'nin indexi:8

In [109]:
#19
dictionary = {"REG" : ["RMSE",10],
              "LOJ" : ["MSE", 20],
              "CART" : ["SSE",30]}

setim = {dictionary["REG"][1],dictionary["LOJ"][1]}
print(setim)

{10, 20}

In [110]:
#20
dictionary["CART"] = ["SSE", 30]
print(dictionary)

{'REG': ['RMSE', 10], 'LOJ': ['MSE', 20], 'CART': ['SSE', 30]}

In [111]:
#21
dictionary["RF"] = ["SSE", 50]
print(dictionary)

{'REG': ['RMSE', 10], 'LOJ': ['MSE', 20], 'CART': ['SSE', 30], 'RF': ['SSE', 50]}

In [125]:
#22
liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]
set1 = set(liste1)
print(set1)
len(set1)

{'Ayşe', 10, 'Ali', 20, 'Mehmet'}

5

In [126]:
#23
set1[5]
set1[7]
#setler indexli değildir

TypeError: 'set' object is not subscriptable

In [124]:
#24
set1.remove("Ali")
set1.add("Veli")
set1.remove(10)
set1.add(40)

print(set1)

{'Ayşe', 40, 20, 'Mehmet', 'Veli'}

In [127]:
#25.1
set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

set1.difference(set2)

{5}

In [128]:
#25.2
set2.difference(set1)

{2}

In [129]:
#25.3
set1.symmetric_difference(set2)

{2, 5}

In [130]:
#25.4
set1.intersection(set2)

{1, 3}

In [131]:
#25.5
set1.union(set2)

{1, 2, 3, 5}

In [132]:
#25.6
set1.isdisjoint(set2)

False

In [133]:
#25.7
set1.issubset(set2)

False

In [134]:
#25.8
set1.issuperset(set2)

False

In [141]:
#26
def zam_yap(maaslar):
    for x in range(len(maaslar)):
        maaslar[x] = maaslar[x] * 1.2
    return maaslar

maaslar = [1000,2000,3000,4000,5000]
zamlı_maaslar = zam_yap(maaslar)
print(zamlı_maaslar)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [143]:
#27
def vergi_kes(maaslar):
    for x in range(len(maaslar)):
        if maaslar[x] < 2500:
            maaslar[x] -= 50
        else:
            maaslar[x] -= 100
    return maaslar

net_maas = vergi_kes(zamlı_maaslar)
print(net_maas)

[1100.0, 2350.0, 3500.0, 4700.0, 5900.0]

In [200]:
#28 
def grupla(students):
    liste1 = []
    liste2 = []
    for x in range(len(students)):
        if x < len(students)/2:
            liste1.append(students[x])
        else:
            liste2.append(students[x])
            
    return liste1,liste2
    

students = ["John", "Mark", "Venessa", "Mariam"]
new_students = grupla(students)
print(new_students)

(['John', 'Mark'], ['Venessa', 'Mariam'])

In [202]:
#29
def upperLower(string):
    temp = ""

    for x in range(len(string)):
        if x % 2 == 0:
            temp += string[x].upper()
        else:
            temp += string[x].lower()
    return temp

txt = "hi my name is john and i am learning python"
new_txt = upperLower(txt)
print(new_txt)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [205]:
#30
def upperLower(txt):
    temp = "" 
    for index, txt in enumerate(txt):
        if index % 2 == 0:
            temp += txt.upper()
        else:
            temp += txt.lower()       
    return temp

before = "hi my name is john and i am learning python"
before = upperLower(before)
print(before)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [179]:
#31
name = input("Lütfen isminizi giriniz: ")
age = input("Lütfen yaşınızı giriniz: ")

print("Merhaba benim ismim " + name + ",\n" + age + " yaşındayım.")

Lütfen isminizi giriniz: kadir
Lütfen yaşınızı giriniz: 23
Merhaba benim ismim kadir,
23 yaşındayım.